
*{
	margin:0 auto ;
	padding: 0;
}
.quanju{
	height: 126px;
	width: 1000px;
	margin: 0 auto;
}
.zuobian{
	height: 126px;
	width: 155px;
	float: left;
}
.tupian1{
	margin: 2px auto;
	margin-left: 30px;
	margin-top: 15px;
}
.zj{
	width: 415px;
	height: 86px;
	float: left;
	padding-left: 60px;
	padding-top: 40px;
}
.tupian2 img{
	margin-left: 15px;
}
.suoshuo{
	margin-top: 10px;
}
.zj ul{
	margin-left: 60px;
}
.zj ul li{
	list-style: none;
	float: left;
}
.zj ul li a{
	text-decoration: none;
	color: #a3a19e;
	font-size: 13px;
}
.header_right{
	width: 370px;
	height: 116px;
	float: left;
	padding-top: 10px;
}
.header_right_two img{
	float: right;
	margin-right: 27px;
	margin-top: 10px;
}

.danhang{
	height: 40px;
	margin-top: 12px;
	background-color: #045321;
}
.daohang1{
	width: 1000px;
	margin: 0 auto;
	height: 40px;
}
.daohang1 a img{
	float: left;
}
.daohang1 ul{
	margin-left: 30px;
	float: left;
}
.daohang1 ul li{
	list-style: none;
	float: left;
	margin-left: 20px;

}
.daohang1 ul li a{
	text-decoration: none;
	color: white;
	font-family: "黑体";
	font-weight: bold;
	font-size: 14px;
	line-height: 40px;
}.daohang1 ul li:hover{
	height: 40px;
	background-color: #3b9548;
}
.daohang1 ul li a:hover{
	height: 40px;
	background-color: #3b9548;
}
.daohang1 input{
	width: 115px;
	height: 25px;
	margin-top: 5px;
	margin-left: 23px;
	float: left;
	color: #A3A19E;
}
.danhang_img{
	margin-left: 3px;
	margin-top: 5px;
}
.danhang_font{
	text-decoration: none;
	float: right;
	color: white;
	font-family: "黑体";
	font-weight: bold;
	font-size: 16px;
	line-height: 40px;
}
.huiyuanxinxi_top{
	margin-top: 5px;
	height: 20px;
	width: 1000px;
	line-height: 30px;
	
}
.huiyuanxinxi_top img{
	vertical-align:middle;
}
.huiyuanxinxi_top span{
	font-size: 8px;
	color: #6B6B6B;
}
.huiyuanxinxi_top span a{
	text-decoration: none;
	font-size: 8px;
	color: #6B6B6B;
}
.huiyuanxinxi_top span a:hover{
	border-bottom: 1px #6B6B6B solid;
}
.huiyuanxinxi_top hr{
	margin-top: 10px;
	float: left;
}

.fudong{
	width: 1000px;
	margin: 0 auto;
}
.fudong_left{
	width: 85px;
	left: 0;
	top: 50%;
	position: fixed;
	z-index: 9999999;
}
.fudong_right{
	
	right: 0;
	top: 50%;
	position: fixed;
	z-index: 9999999;
}
.fudong_right img{
	display: block;
}
.xiabufen{
	width: 1000px;
	margin: 0 auto;
	margin-top: 50px;
}
.xiabufen_left{
	width: 178px;
	height: 508px;
	background-image: url(../img/BG_lnbBrand2.gif);
	float: left;
}
.zjian{
	width: 1000px;
	margin: 0 auto;
	margin-top: 50px;
   
	height: 500px;
}
.zjian_left{
	float: left;
	width: 175px;
	height: 333px;
	background-image: url(../img/BG_lnbJejustory.gif);
	
}
.jizwenzi{
	text-decoration: none;
	color: #333333;
	font-weight: bold;
	font-size: 13px;
	margin-top: 10px;
	margin-left: 20px;
}
.jizwenzi2{
	margin-left: 19px;
}
.dawenzi{
	
	line-height: 25px;
	border-bottom: 1px dashed   black;
	height: 163px;
	width: 160px;
	margin: 15px auto;
}
.zjian_ringh{
	width: 800px;
	height: 1340px;
	margin-left: 202px;
	
	
}
.zjian_ringh_1{
	margin-top: 20px;
}
.zjian_ringh_2{
	width: 800px;
	height: 3px;
	margin-top: 20px;
	background-image: url(../img/BG_tabTypeT.gif);
	
}

.zjian_ringh_2 ul li{
	
width: 158px;
list-style: none;
float: left;
height: 36px;
border: 1px solid #A3A19E;
line-height: 36px;
text-align: center;
box-shadow: 0px 0px 1px 1px #A3A19E;
}
.zjian_ringh_2 ul li a{
	text-decoration: none;
	color: #6f6f6f;
	font-weight: bold;
	font-size: 13px;
}
.zjian_ringh_2 ul li a:hover{
	color: #006401;
}
.zjian_ringh_3{
	width: 800px;
	height: 200px;
	margin-top: 20px;

}
.zjian_ringh_3_img1{
	float: left;
	margin-top: -45px;
	margin-left: -49px;
}
.zjian_ringh_3_img3{
	float: right;
	margin-top: -26px;
}

.dawdadw{
	margin-top: 850px;
	height: 560px;
	background-image: url(../img/bottom.jpg);
}
.cehng2{
	
	height: 560px;
	
	
}
.cehng2_one{
	width: 80px;
	height: 335px;
	float: left;
	margin-left: 285px;
	margin-top: 40px;
	/*border: 1px blue solid;*/
}
.cehng2_one dl{
	list-style: none;
}
.cehng2_one dl dt{
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 15px;
}
.cehng2_one dl dd{
	font-size: 12px;
	padding-bottom: 7px;
}
.cehng2_one dl a{
	text-decoration: none;
	color: #6B6B6B;
}
.cehng2_one dl a:hover{
	border-bottom: 1px black solid;
}
.cehng2_two{
	height: 335px;
	width: 90px;
	float: left;
	margin-left: 35px;
	margin-top: 40px;
	
}
.cehng2_two_top{
	width: 90px;
	height: 110px;
	float: left;
	
}
.cehng2_two_top a{
	text-decoration: none;
	color: #6B6B6B;
}
.cehng2_two_top a:hover{
	border-bottom: 1pt black solid;
}
.cehng2_two_top dl dt{
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 15px;
}
.cehng2_two_top dl dd{
	font-size: 12px;
	padding-bottom: 7px;
}
.cehng2_two_bot{
	width: 90px;
	float: left;
	margin-top: 35px;
	/*border: 1px blue solid;*/
}
.cehng2_two_bot a{
	text-decoration: none;
	color: #6B6B6B;
}
.cehng2_two_bot a:hover{
	border-bottom: 1px black solid;
}
.cehng2_two_bot dl dt{
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 15px;
}
.cehng2_two_bot dl dd{
	font-size: 12px;
	padding-bottom: 7px;
}
.cehng2_three{
	height: 335px;
	width: 90px;
	float: left;
	margin-left: 35px;
	margin-top: 40px;
	/*border: 1px red solid;*/
}
.cehng2_three_top{
	width: 90px;
	height: 110px;
	float: left;
	/*border: 1px blue solid;*/
}
.cehng2_three_top a{
	text-decoration: none;
	color: #6B6B6B;
}
.cehng2_three_top a:hover{
	border-bottom: 1pt black solid;
}
.cehng2_three_top dl dt{
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 15px;
}
.cehng2_three_top dl dd{
	font-size: 12px;
	padding-bottom: 7px;
}
.cehng2_three_bot{
	width: 90px;
	float: left;
	margin-top: 35px;
	
}
.cehng2_three_bot a{
	text-decoration: none;
	color: #6B6B6B;
}
.cehng2_three_bot a:hover{
	border-bottom: 1px black solid;
}
.cehng2_three_bot dl dt{
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 15px;
}
.cehng2_three_bot dl dd{
	font-size: 12px;
	padding-bottom: 7px;
}
.cehng2_four{
	height: 335px;
	width: 90px;
	float: left;
	margin-left: 35px;
	margin-top: 40px;
	
}
.cehng2_four_top{
	width: 65px;
	height: 90px;
	float: left;
}
.cehng2_four_top a{
	text-decoration: none;
	color: #6B6B6B;
}
.cehng2_four_top a:hover{
	border-bottom: 1px black solid;
}
.cehng2_four_top dl dt{
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 15px;
}
.cehng2_four_top dl dd{
	font-size: 12px;
	padding-bottom: 7px;
}
.cehng2_four_bot{
	width: 77px;
	height: 90px;
	float: left;
	margin-top: 35px;
}
.cehng2_four_bot a{
	text-decoration: none;
	color: #6B6B6B;
}
.cehng2_four_bot a:hover{
	border-bottom: 1px black solid;
}
.cehng2_four_bot dl dt{
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 15px;
}
.cehng2_four_bot dl dd{
	font-size: 12px;
	padding-bottom: 7px;
}
.cehng2_five{
	height: 235px;
	width: 165px;
	float: left;
	margin-left: 80px;
	margin-top: 40px;
	
}
.cehng2_five_one{
	height: 90px;
	float: left;
}
.cehng2_five_one a{
	text-decoration: none;
	color: #6B6B6B;
}
.cehng2_five_one a:hover{
	border-bottom: 1px black solid;
}
.cehng2_five_one dl dt{
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 15px;
}
.cehng2_five_one dl dd{
	font-size: 12px;
	padding-bottom: 7px;
}
.cehng2_five_two{
	height: 139px;
	float: left;
	margin-top: 5px;
}
.cehng2_five_two a{
	text-decoration: none;
	color: #6B6B6B;
}
.cehng2_five_two a:hover{
	border-bottom: 1px black solid;
}
.cehng2_five_two dl dt{
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 15px;
}
.cehng2_five_two dl dd{
	font-size: 12px;
	padding-bottom: 7px;
}
.bottom3{
	height: 65px;
	width: 1000px;
	margin-top: -65px;
	
}
.bottom3 span{
	float: right;
	margin-right: 35px;
	line-height: 65px;
}
.bottom3 img{
	float: right;
	margin-right: 12px;
	margin-top: 10px;
}
.dawenzi a:hover{
	background-color: #D2691E;
}
.jizwenzi:hover{
	background-color: #D2691E;
}
