<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PHP新闻网-中国最大最全最新新闻网站</title>
    <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css">
    <script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav">
                            <span class="sr-only">  切换导航</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="nav">
                        <ul class="nav nav-tabs">
                            <li><a href="/">首页</a></li>
                            <foreach item="t" name="type">
                                <li><a href="{:U('newslist')}?id={$t.id}">{$t.typename}</a></li>
                            </foreach>
                        </ul>
                    </div>
                </div>
            </nav>

        </div>

    </div>
    <div class="row">
        <div class="col-lg-12">

              <h2>{$news.title}</h2><h4>{$news.pubtime}</h4>
            <article>{$news.content|htmlspecialchars_decode}</article>
            </div>
        </div>
    </div>
</div>
</body>
</html>